{% include "include/header.html" %}

<div class="navi">
    <div class="container">
        <h1>Paper</h1>
    </div>
</div>

<div class="container page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="grid-container grid-paper">
                <h2>2015</h2>
                <div class="row archive-posts">
                    <div>
                        <p class="title"><a href="#" title="Retweet Behavior Prediction Using Hierarchical Dirichlet Process">Retweet Behavior Prediction Using Hierarchical Dirichlet Process</a></p>
                        <p><strong>Qi Zhang</strong>, Yeyun Gong, Ya Guo, Xuanjing Huang<br>
                            In Proceedings of the 29th AAAI Conference on Artificial Intelligence(AAAI 2015)<br>Jan 25-29, 2015, Austin, Texas, USA
                        </p>
                    </div>
                </div>
                <h2>2014</h2>
                <div class="row archive-posts">
                    <div>
                        <p class="title"><a href="#" title="Time-aware Personalized Hashtag Recommendation on Social Media">Time-aware Personalized Hashtag Recommendation on Social Media</a></p>
                        <div class="author-line">
                            <p><strong>Qi Zhang</strong>, Yeyun Gong, Xuyang Sun, Xuanjing Huang, Xuanjing Huang<br>
                                In Proceedings of the 25th International Conference on Computational Linguistics (Coling 2014)<br>Aug. 23-29, 2014, Dublin, Ireland
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row archive-posts">
                    <div>
                        <p class="title"><a href="#" title="Time-aware Personalized Hashtag Recommendation on Social Media">Time-aware Personalized Hashtag Recommendation on Social Media</a></p>
                        <div class="author-line">
                            <p><strong>Qi Zhang</strong>, Yeyun Gong, Xuyang Sun, Xuanjing Huang, Xuanjing Huang<br>
                                In Proceedings of the 25th International Conference on Computational Linguistics (Coling 2014)<br>Aug. 23-29, 2014, Dublin, Ireland
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'include/footer.html' %}